* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  
  @import "variables";
  @import "header";
  @import "preview";
  @import "article";
  @import "aside";
  @import "mediaQueries";
  @import "footer";
  

  
  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    width: 80%;
    margin: 2rem auto;
  }